/* Contenedor de la imagen del login */
.login-img-container {
  flex: 1; /* Ocupa el mismo espacio que el formulario */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
}

/* Imagen del login: tamaño máximo y ajuste */
.login-img {
  max-width: 100%; /* No sobrepasa el ancho del contenedor */
  max-height: 119vh; /* Aumenta la altura máxima */
}

@media (max-width: 900px) {
  .login-img {
    max-width: 70vw;
    max-height: 70vh;
  }
  .login-img-container {
    margin-top: 6vh;
  }
}
