/* Estilos para pantallas grandes */
.navbar {
  position: relative;
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Altura de la barra de navegación */
  display: flex;
  justify-content: flex-end;
  padding: 0 1vw 0 1vw; /* top right bottom left */
  z-index: 2;
  background: transparent;
  color:white;
  align-items: center;
}

nav button {
  background: none;
  border: none;
  color: #fff;
  font: inherit;
  padding: 0;
  margin-right: 35px;
  /* margin: 0 7.1vw; */
  cursor: pointer;
}

/* Estilos para pantallas pequeñas */
.menu-button {
  position: absolute !important;
  top: 1rem;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 3;
  color: #fff !important;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 180px;
  gap: 1.5rem;
}

.drawer-content button {
  /* Botones del menú desplegable */
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

 /* Ajusta este valor para cambiar el tamaño del dehaze */
.menu-button svg {
  font-size: 3rem;
}
